<div id="<%= dom_id bug %>">
  <p>
    <strong>User:</strong>
    <%= bug.user_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= bug.project_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= bug.title %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= bug.deadline %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= bug.type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bug.status %>
  </p>

</div>
