<p style="color: green"><%= notice %></p>

<%= render @bug %>

<div>
  <%= link_to "Edit this bug", edit_bug_path(@bug) %> |
  <%= link_to "Back to bugs", bugs_path %>

  <%= button_to "Destroy this bug", @bug, method: :delete %>
</div>
